.navigation {
  padding: 0 8px;
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  gap: 24px;
  display: flex;
  list-style: none;
  align-items: center;
  font-weight: 500;
  border: 1px solid red;
}
